.entete  {
    .image {
        float: left;
    }
    
}

.titres {
        padding-top: 50px;
        padding-left: 150px;
    }

.row {
    padding-left:20px
}

.sidebar-container {
    width: 20%;
    position: relative;
}

.sidebar {
    float: left;
    border : 3px black solid;
    box-decoration-break: clone;
    height:50%;
    width: 15%;
    box-shadow: 3px 3px 0px gray;
    position: fixed;
}

.couverture {
    height: 100px;
    width: 70px;
}

.lienLivre {
    display: block;
}

.livreInformations {
    padding-top: 10px;
}

.boutonAjouter {
    text-align: right;
    padding-right: 100px;
}



